# Affections Data Integration 2010-2022

## Import libraries

In [1]:
import pandas as pd
import numpy as np

## Load databases from Affections

In [2]:
file = '../../Data/Databases/Data Integration/afecciones2010_2013.csv'
a10_13 = pd.read_csv(file, on_bad_lines='skip')
a10_13.head()

   AFEC  NUMAFEC    ID2
0  S029        2    399
1  S529        3    399
2  I10X        1    399
3  Z301        1  25245
4  Z301        1  25569

In [3]:
file = '../../Data/Databases/Data Integration/afecciones2014_2015.csv'
a14_15 = pd.read_csv(file, on_bad_lines='skip')
a14_15.head()

   AFEC  NUMAFEC     ID2
0  K802        1  108995
1  K810        2  108995
2  A099        1  108377
3  E86X        2  108377
4  E119        1  108380

In [4]:
file = '../../Data/Databases/Data Integration/afecciones2016_2017.csv'
a16_17 = pd.read_csv(file, on_bad_lines='skip')
a16_17.head()

   AFEC  NUMAFEC     ID2
0  N185        1  161767
1  N185        1  161768
2  N185        1  161769
3  N185        1  161770
4  N185        1  161771

In [5]:
file = '../../Data/Databases/Data Integration/afecciones2018_2019.csv'
a18_19 = pd.read_csv(file, on_bad_lines='skip')
a18_19.head()

   AFEC  NUMAFEC     ID2
0  K409        1  213685
1  Q379        1  218203
2  H259        1  219671
3  K409        1  220424
4  H509        1  214441

In [6]:
file = '../../Data/Databases/Data Integration/afecciones2020_2021.csv'
a20_21 = pd.read_csv(file, on_bad_lines='skip')
a20_21.head()

   AFEC  NUMAFEC     ID2
0  E46X        3  257904
1  G934        4  257904
2  K922        5  257904
3  N179        6  257904
4  R18X        7  257904

In [7]:
file = '../../Data/Databases/Data Integration/afecciones2022.csv'
a22 = pd.read_csv(file, on_bad_lines='skip')
a22.head()

   AFEC  NUMAFEC     ID2
0  U071        1  298043
1  R69X        1  298044
2  R69X        1  298045
3  R69X        1  298046
4  C910        1  298047

## Integrate Databases

In [9]:
afecciones = pd.concat([a10_13, a14_15, a16_17, a18_19, a20_21, a22])
afecciones

       AFEC  NUMAFEC     ID2
0      S029        2     399
1      S529        3     399
2      I10X        1     399
3      Z301        1   25245
4      Z301        1   25569
...     ...      ...     ...
30433  R69X        1  321258
30434  O000        1  321259
30435  R69X        1  321260
30436  R69X        1  321261
30437  R69X        1  321262

[335486 rows x 3 columns]

## Rename ID Column

In [10]:
afecciones.rename(columns={'ID2':'ID'},inplace=True)
afecciones = afecciones[['ID', 'NUMAFEC', 'AFEC']]
afecciones.head()

      ID  NUMAFEC  AFEC
0    399        2  S029
1    399        3  S529
2    399        1  I10X
3  25245        1  Z301
4  25569        1  Z301

## Drop Duplicates

In [11]:
afecciones.duplicated().sum()

1

In [12]:
afecciones.drop_duplicates(inplace = True)
afecciones.shape

C:\Users\lili_\AppData\Local\Temp\ipykernel_13968\4086228903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  afecciones.drop_duplicates(inplace = True)

(335485, 3)

## Exportar data to csv

In [13]:
from pathlib import Path 
#Afecciones
filepath = Path('../../Data/Databases/Data Integration/afecciones2010_2022.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
afecciones.to_csv(filepath, index = False)